body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-size: 40px;
}

a {
    text-decoration: none;
    padding: 3px 10px;
    margin: 20px;
}

.conteudo {
    overflow: hidden;
    height: 40px;
    transition: 1s;
}

.mostrar {
    height: auto;
}

.menu {
    font-size:30px;
    text-align: center;
    padding: 5px 10px;
    border: 0px solid #f00;
    background: darkgray;
    color: blue;
    border-radius: 5px;
}

.artigo {
    background-color: white;
    margin: 20px;
    padding: 40px;
    border-radius: 5px;
}

.container img{
    left:0;
    top:0;
    width:40%;
    opacity: 0;
    transition:1s;
}

.bullets{
    text-align: center;
}

.bullet-single{
    margin:0 8px;
    cursor: pointer;
    display: inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color: #ccc;
}

.active-bullet{
    background-color:#333;
}

h1 {
    font-size: 40px;
    margin: 10px;
    text-align: center;
}
